openapi: 3.0.2
info:
  title: Didomi consents/events organizations-source-systems API
  description: 'A REST API to communicate with the Didomi platform (<a href="https://api.didomi.io/v1/">https://api.didomi.io/v1/</a>)


    This is the complete specification of the API. A complete guide to authenticating and using the API is available on our <a href="https://developers.didomi.io/" target="_blank">Developers Portal</a>.


    All HTTP calls to the API require a valid JWT token. The token must be provided in an **Authorization** header with the value "Bearer <token>".

    Click on the Authorize button in the header of this page to provide a token before testing requests from this documentation.


    '
  version: '1.0'
servers:
- url: https://api.didomi.io/v1
  description: Didomi Platform API
security:
- bearer: []
tags:
- name: organizations-source-systems
  description: Manage organization source systems
paths:
  /organizations-source-systems:
    get:
      parameters:
      - description: Number of results to return
        in: query
        name: $limit
        schema:
          type: integer
      - description: Number of results to skip
        in: query
        name: $skip
        schema:
          type: integer
      - description: Property to sort results
        in: query
        name: $sort
        style: deepObject
        schema:
          type: object
      - description: Query parameters to filter
        in: query
        name: filter
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/organizations-source-systems'
      responses:
        '200':
          description: A list of OrganizationSourceSystem objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organizations-source-systems_list'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      description: Returns a list of organization source system mappings
      summary: Retrieve a list of organization source systems
      tags:
      - organizations-source-systems
      security:
      - bearer: []
    post:
      parameters: []
      responses:
        '201':
          description: The created OrganizationSourceSystem object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organizations-source-systems'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      description: Create a new organization source system mapping
      summary: Create an organization source system mapping
      tags:
      - organizations-source-systems
      security:
      - bearer: []
      requestBody:
        description: The OrganizationSourceSystem object to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organizations-source-systems-input-create'
components:
  schemas:
    organizations-source-systems_list:
      title: OrganizationSourceSystemList
      type: object
      properties:
        total:
          type: number
          description: Total number of items
        limit:
          type: number
          description: Number of items per page
        skip:
          type: number
          description: Number of items skipped
        data:
          type: array
          items:
            $ref: '#/components/schemas/organizations-source-systems'
    organizations-source-systems:
      title: OrganizationSourceSystem
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the organization source system mapping
        organization_id:
          type: string
          description: The ID of the DDM organization
        source_system:
          type: string
          description: The name of the source system
          enum:
          - sp
        source_system_id:
          type: string
          description: The ID of the organization in the source system
        created_at:
          type: string
          description: Creation date of the mapping
          format: date-time
        updated_at:
          type: string
          description: Last update date of the mapping
          format: date-time
      required:
      - id
      - organization_id
      - source_system
      - source_system_id
    organizations-source-systems-input-create:
      title: OrganizationSourceSystemInputCreate
      type: object
      properties:
        organization_id:
          type: string
          description: The ID of the DDM organization
        source_system:
          type: string
          description: The name of the source system
          enum:
          - sp
        source_system_id:
          type: string
          description: The ID of the organization in the source system
      required:
      - organization_id
      - source_system
      - source_system_id
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
