openapi: 3.0.2
info:
  title: Didomi consents/events partners API
  description: 'A REST API to communicate with the Didomi platform (<a href="https://api.didomi.io/v1/">https://api.didomi.io/v1/</a>)


    This is the complete specification of the API. A complete guide to authenticating and using the API is available on our <a href="https://developers.didomi.io/" target="_blank">Developers Portal</a>.


    All HTTP calls to the API require a valid JWT token. The token must be provided in an **Authorization** header with the value "Bearer <token>".

    Click on the Authorize button in the header of this page to provide a token before testing requests from this documentation.


    '
  version: '1.0'
servers:
- url: https://api.didomi.io/v1
  description: Didomi Platform API
security:
- bearer: []
tags:
- name: partners
paths:
  /metadata/partners:
    get:
      parameters:
      - name: url
        in: query
        required: false
        schema:
          type: string
        description: An URL to match to a partner. This parameter can be repeated multiple times to identify multiple partners at once.
      responses:
        '200':
          description: A list of Partner objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/partners'
      description: Returns a list of partners
      summary: Retrieve a list of partners
      tags:
      - partners
      security:
      - bearer: []
    post:
      parameters:
      - name: partner
        in: body
        description: The Partner object to create
        required: true
        schema:
          $ref: '#/components/schemas/partners-input'
      responses:
        '200':
          description: The created Partner object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/partners'
      description: Create a new partner
      summary: Create a partner
      tags:
      - partners
      security:
      - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/partners'
  /metadata/partners/{id}:
    get:
      parameters:
      - name: id
        in: path
        description: The ID of the partner to retrieve
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A Partner object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/partners'
      description: Returns a single partner with the given ID
      summary: Retrieve a partner
      tags:
      - partners
      security:
      - bearer: []
    put:
      parameters:
      - name: id
        in: path
        description: The ID of the partner to update
        required: true
        schema:
          type: string
      - name: partner
        in: body
        description: The new data to update the partner with
        required: true
        schema:
          $ref: '#/components/schemas/partners-input'
      responses:
        '200':
          description: The updated Partner object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/partners'
      description: Update an existing a partner
      summary: Update a partner
      tags:
      - partners
      security:
      - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/partners'
    patch:
      parameters:
      - name: id
        in: path
        description: The ID of the partner to patch
        required: true
        schema:
          type: string
      - name: partner
        in: body
        description: The data to replace in the Partner object
        required: true
        schema:
          $ref: '#/components/schemas/partners-input'
      responses:
        '200':
          description: The patched Partner object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/partners'
      description: Partially update the partner
      summary: Patch a partner
      tags:
      - partners
      security:
      - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/partners'
    delete:
      parameters:
      - name: id
        in: path
        description: The ID of the partner to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The deleted Partner object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/partners'
      description: Delete the partner
      summary: Delete a partner
      tags:
      - partners
      security:
      - bearer: []
components:
  schemas:
    partners-input:
      title: PartnerInput
      type: object
      properties:
        name:
          type: string
          description: Name of the partner
        tags:
          type: array
          description: Extra classification items for the partner
          items:
            type: string
        contact:
          type: string
          description: Contact information for someone from the partner
        website:
          type: string
          format: uri
          description: Website URL of the partner
        website_optout:
          type: string
          format: uri
          description: URL for consumers to opt-out from data collection and processing from the partner
        hosts:
          type: array
          description: List of hosts (DNS names) that belong to the partner
          items:
            type: string
        url_patterns:
          type: array
          description: List of URL patterns (regular expressions) that uniquely identify the partner
          items:
            type: string
        taxonomy_id:
          type: string
          description: The ID of the taxonomy item for classifying this partner
        organization_id:
          type: string
          description: The organization ID that owns the partner
        category_id:
          type: string
          description: The category ID of the partner
        country:
          type: string
          description: The ISO Alpha-2 code of the country where the partner is located.
        namespaces:
          type: object
          description: IDs of this partner in other namespaces / vendor lists and used in Didomi SDKs and consents
          properties:
            iab:
              type: string
              description: ID of the vendor in the IAB TCF version 1
            iab2:
              type: string
              description: ID of the vendor in the IAB TCF version 2
            didomi:
              type: string
              description: ID of the vendor in the Didomi SDK
            custom:
              type: string
              description: Custom ID for the vendor
            google:
              type: string
              description: ID of the vendor for Google DFP/GAM
        default_purposes_id:
          type: array
          description: Purposes of the partner with consent legal basis
          items:
            type: string
        legitimate_interest_purposes_id:
          type: array
          description: Purposes of the partner with legitimate interest legal basis
          items:
            type: string
        spi_purposes_id:
          type: array
          description: Purposes of the partner with sensitive personal information
          items:
            type: string
        cookie_max_duration:
          type: number
          description: The duration of time for which the cookies are stored
        cookie_max_duration_unit:
          type: string
          enum:
          - months
          - days
          - seconds
          description: The unit of the cookie max duration
        uses_non_cookie_access:
          type: boolean
          description: Whether the vendor uses other means of storage than cookies
        deprecated:
          type: boolean
          description: Whether a partner is deprecated or not. Deprecated partners cannot be added to privacy centers or consent notices but are not immediately removed to not break entities that already use them. Deprecated partners will eventually be removed.
        notes:
          type: string
          description: Free-form field to keep various notes on a vendor
      required:
      - name
      - category_id
    partners:
      type: object
      title: Partner
      description: A third-party company that provides services to companies by collecting data, transforming it, etc.
      properties:
        id:
          type: string
          description: Partner ID
        name:
          type: string
          description: Name of the partner
        tags:
          type: array
          description: Extra classification items for the partner
          items:
            type: string
        contact:
          type: string
          description: Contact information for someone from the partner
        website:
          type: string
          format: uri
          description: Website URL of the partner
        website_optout:
          type: string
          format: uri
          description: URL for consumers to opt-out from data collection and processing from the partner
        hosts:
          type: array
          description: List of hosts (DNS names) that belong to the partner
          items:
            type: string
        url_patterns:
          type: array
          description: List of URL patterns (regular expressions) that uniquely identify the partner
          items:
            type: string
        urls:
          type: array
          description: If partners were queried from URLs (with the `url` query-string parameter), this property contains a list of all URLs that were matched to this partner
          items:
            type: string
            format: uri
        taxonomy_id:
          type: string
          description: The ID of the taxonomy item for classifying this partner
        organization_id:
          type: string
          description: The organization ID that owns the partner
        category_id:
          type: string
          description: The category ID of the partner
        country:
          type: string
          description: The ISO Alpha-2 code of the country where the partner is located
        created_at:
          type: string
          description: Creation date of the partner
          format: date-time
        updated_at:
          type: string
          description: Last update date of the partner
          format: date-time
        version:
          type: number
          description: Revision number of the partner object
        namespaces:
          type: object
          description: IDs of this partner in other namespaces / vendor lists and used in Didomi SDKs and consents
          properties:
            iab:
              type: string
              description: ID of the vendor in the IAB TCF version 1
            iab2:
              type: string
              description: ID of the vendor in the IAB TCF version 2
            didomi:
              type: string
              description: ID of the vendor in the Didomi SDK
            custom:
              type: string
              description: Custom ID for the vendor
            google:
              type: string
              description: ID of the vendor for Google DFP/GAM
        default_purposes_id:
          type: array
          description: Purposes of the partner with consent legal basis
          items:
            type: string
        legitimate_interest_purposes_id:
          type: array
          description: Purposes of the partner with legitimate interest legal basis
          items:
            type: string
        spi_purposes_id:
          type: array
          description: Purposes of the partner with sensitive personal information
          items:
            type: string
        cookie_max_duration:
          type: number
          description: The duration of time for which the cookies are stored
        cookie_max_duration_unit:
          type: string
          enum:
          - months
          - days
          - seconds
          description: The unit of the cookie max duration
        uses_non_cookie_access:
          type: boolean
          description: Whether the vendor uses other means of storage than cookies
        deprecated:
          type: boolean
          description: Whether a partner is deprecated or not. Deprecated partners cannot be added to privacy centers or consent notices but are not immediately removed to not break entities that already use them. Deprecated partners will eventually be removed.
        notes:
          type: string
          description: Free-form field to keep various notes on a vendor
      required:
      - id
      - name
      - category_id
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
