openapi: 3.0.2
info:
  title: Didomi consents/events quotas API
  description: 'A REST API to communicate with the Didomi platform (<a href="https://api.didomi.io/v1/">https://api.didomi.io/v1/</a>)


    This is the complete specification of the API. A complete guide to authenticating and using the API is available on our <a href="https://developers.didomi.io/" target="_blank">Developers Portal</a>.


    All HTTP calls to the API require a valid JWT token. The token must be provided in an **Authorization** header with the value "Bearer <token>".

    Click on the Authorize button in the header of this page to provide a token before testing requests from this documentation.


    '
  version: '1.0'
servers:
- url: https://api.didomi.io/v1
  description: Didomi Platform API
security:
- bearer: []
tags:
- name: quotas
  description: Manage quotas
paths:
  /quotas:
    get:
      parameters:
      - description: Number of results to return
        in: query
        name: $limit
        schema:
          type: integer
      - description: Number of results to skip
        in: query
        name: $skip
        schema:
          type: integer
      - description: Property to sort results
        in: query
        name: $sort
        style: deepObject
        schema:
          type: object
      - description: Query parameters to filter
        in: query
        name: filter
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/quotas'
      responses:
        '200':
          description: A list of Quota objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/quotas'
      description: Returns a list of all quotas for the organizations the user belongs to
      summary: Retrieve a list of quotas
      tags:
      - quotas
      security:
      - bearer: []
  /quotas/{id}:
    get:
      parameters:
      - name: id
        in: path
        description: The ID of the quota to retrieve
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A Quota object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quotas'
      description: Returns a single quota with the given ID
      summary: Retrieve a quota
      tags:
      - quotas
      security:
      - bearer: []
components:
  schemas:
    quotas:
      type: object
      title: Quota
      description: A quota defines some resource limits on the didomi platform by organization
      properties:
        id:
          type: string
          description: Quota ID
        created_at:
          type: string
          description: Creation date of the quota
          format: date-time
        updated_at:
          type: string
          description: Last update date of the quota
          format: date-time
        organization_id:
          type: string
          description: Identifier of the organization the quota belongs to
        exports_configs:
          type: number
          description: Limit on enabled export configs for the organization
        exports_destinations:
          type: number
          description: Limit on export destinations per export config for the organization
        scraper_enabled_properties:
          type: number
          description: Limit on enabled scraper properties for the organization
        parallel_notices_deployments:
          type: number
          description: Maximum number of notices deployments that can be run in parallel for the organization
        consent_proof_reports:
          type: number
          description: Maximum number of consent proof reports that can be generated by an organization per month
        api_requests:
          type: number
          description: Maximum number of API requests (excluding requests to the /consents/* endpoint) that can be made by an organization per quota period
        delivery_clouds:
          type: number
          description: Maximum number of delivery clouds per organization
        services_per_delivery_cloud:
          type: number
          description: Maximum number of services per delivery cloud
        regions_per_delivery_cloud:
          type: number
          description: Maximum number of regions per delivery cloud
        domains_per_delivery_cloud:
          type: number
          description: Maximum number of custom domains associated with a delivery cloud.
        acm_scan_max_pages_per_property:
          type: number
          description: Maximum number of pages that can be scanned during an ACM report scan.
        secrets:
          type: number
          description: Maximum number of secrets allowed to be created by an organization.
        metadata_purposes:
          type: number
          description: Maximum number of metadata purposes allowed to be created by an organization.
        metadata_partners:
          type: number
          description: Maximum number of metadata partners allowed to be created by an organization.
        version:
          type: number
          description: Revision number of the quota object
      required:
      - id
      - organization_id
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
